body {
	font-family: 'Fresca', sans-serif;
}

.container {
	font-size:18px;
	margin: 10px auto;
	position: center;
	text-align: center;
	padding: 30px;
	background-color: #000000;
	color: #ff6600;
	border: 7px solid #ff6600;
	border-radius: 10px;
}
